# untracked files
doc/
figure/
presentation/
sim_data/
test.uv/
test_uv_var/
src/scripts/

*.pyc
*.org
*.fits
*.pdf
*.txt
*.tex
*.uv/
*~
\#*

src/delay_spec_bac.py
src/print_preamble.py
src/print_vars.py
src/pwa303.py
src/visdata.py
src/pwa303.py

