/presentation/
/D_CLEAN/
doc/
figure/
scripts/
test.uv/
*.pyc
*.org
*.fits
*.pdf
*.txt
*.tex
*.uv/
*~
\#*
/visibility/pwa303.py
/ps_estimate/delay_spec_bac.py
/ps_estimate/print_preamble.py
/ps_estimate/print_vars.py
/ps_estimate/pwa303.py
/ps_estimate/visdata.py

