# untracked files
doc/
figure/
presentation/
sim_data/
test.uv/
test_uv_var/
src/D_CLEAN/
src/scripts/

*.pyc
*.org
*.fits
*.pdf
*.txt
*.tex
*.uv/
*~
\#*

src/ps_estimate/delay_spec_bac.py
src/ps_estimate/print_preamble.py
src/ps_estimate/print_vars.py
src/ps_estimate/pwa303.py
src/ps_estimate/visdata.py
src/visibility/pwa303.py

